.MainContainer {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MainContainer__Title{
  font-size: 2rem;
  color: #2F363D;
  font-weight: 700;
  text-align: center;
  font-family: 'Gilroy', sans-serif;
}
.img_badge{
  margin-top: 3%;
  margin-left: 7%;
  width: 200px;
  height: 20%;
}
.head{
  margin-bottom:4px;

}
.code-md {
  background-color: #E64130;
  padding: 6px;
  border-radius: 8px;
  color: #FDF2E6;
}
.Topmate{
  color: #E64130;
  font-weight: 900;
}
.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.HeaderContainerComponent{
  float: right;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;  
  justify-content: space-between;
  margin-right: 5%;
}
.button_topmate{
  border-radius: 5px;
  padding: 8px;
  margin-right: 10px;
}
.button_Container {
 display: flex;
 flex-direction: row;
 margin-bottom: 50px;
 margin-top: 50px;
 align-items: center;
}
.button_postman {
  background-color: #FF6C37;
  border-radius: 5px;
  padding: 8px;
  color: #FDF2E6;
  margin-right: 10px;
}
.button_twitter{
  background-color:  #1DA1F2;
  border-radius: 5px;
  padding: 8px;
  color: #FDF2E6;
}
.Move_Another{
  font-size: 12px;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  font-family: 'Gilroy';
  /* color: #a1a5a8; */
  justify-content: center;
}
.MainContainer__SubTitle{
  color: #a1a5a8;
  font-family: 'Gilroy-Regular', cursive;
  font-weight: bold;
  font-size: 16px;
  margin-top: 2px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: 5%; */
}

.FormContainer{
  margin-top: 3rem;
  max-width: 28em;
}

.FormContainer__Select{
  margin-block: .625rem;
  font-family: 'Inter', sans-serif;
  background: transparent;
}

.FormContainer__CheckboxWrapper{
  margin-top: .625rem;
}

.FormContainer__ButtonWrapper{
  display: grid;
  place-items: center;
}


.FormContainer__Button{
  margin-top: calc(.625rem * 2);
  background-color: #E64130;
  color: #FDF2E6;
  padding:0.75rem .625rem;
  border-radius: 5px;
  user-select: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:center;
  font-weight: bolder;
  text-align: center;
}

.FormContainer__Button:hover{
  cursor: pointer;
  background-color: #E64130;
}

@media screen and (max-width: 730px) {
  .MainContainer__SubTitle{
    justify-content: center;
    margin: 5px;
  }
  .head{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .container{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .img_badge{
    margin-top: 3%;
    margin-left: 0%;
    width: 200px;
    height: 20%;
  }
  .MainContainer {
    margin-top: 3%;
  }
  .FormContainer{
   width: 70%;
  }
  .HeaderContainerComponent{
    text-align: center;
   align-items: center;
  }
}